<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogUrlRewrite\Observer\ProductUrlKeyAutogeneratorObserver">
        <plugin name="cadence_scopefix_urlkey" type="Cadence\ScopeFix\Plugin\CatalogUrlRewrite\Observer\ProductUrlKey\AutogeneratorObserver" />
    </type>

    <preference for="Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper"
                type="Cadence\ScopeFix\Controller\Catalog\Adminhtml\Product\Initialization\Helper" />
</config>
